<%- include("header") -%>
<h2>This is about section </h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nulla nisi sit aut, expedita accusantium atque fugiat, corrupti quo, soluta voluptatum doloribus facere optio eum similique blanditiis? Alias, quaerat magnam. Mollitia.</p>
<%- include("footer") -%>